#fullDash {
    display: flex;
    flex-direction: column;
  }
  
  .panels {
    display: flex;
    flex-wrap: wrap; /* This allows the panels to wrap onto the next line */
    gap: 10px; /* Optional: Adds space between panels */
  }
  
  .panel {
    flex: 0 0 auto; /* This prevents the panels from shrinking smaller than their content */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 150px;
    min-height: 100px;
  }

  
   .panel div[draggable] {
    cursor: pointer;
   }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* High z-index to ensure it's on top of other elements */
}

/* Style for the modal content box */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 300px;
}
/*delete button in modal*/
.delete-button {
  background-color: #ff6347; /* Tomato color for delete button */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #ff4500; /* Darker color on hover */
}


.close {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: #f00; /* Change color on hover for visual feedback */
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
