#fullDash {
    display: flex;
    flex-direction: column;
  }
  
  .panels {
    display: flex;
    flex-wrap: wrap; /* This allows the panels to wrap onto the next line */
    gap: 10px; /* Optional: Adds space between panels */
  }
  
  .panel {
    flex: 0 0 auto; /* This prevents the panels from shrinking smaller than their content */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 150px;
    min-height: 100px;
  }

  
  .panel div[draggable] {
    cursor: move;
    /* additional styles for draggable items */
  }
    